body{
margin: 0;
text-align: center ;
font-family: 'Merriweather', serif;
}
h1{
  margin-top: 0px;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Sacramento',serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-images{
  width: 25%;
  float: left;
  position: relative;
  right: 30px;
}

}
.text-pos{
  position: relative;
  top: 100px;
}
.top-container{
  background-color: #B8E4F0;

}
 .middle-container{

 }
 .bottom-container{

 }
 .bottom-cloud{
   position: absolute;
   top: 150px;
   left: 80px;
 }
 .top-cloud{
   position: absolute;
   right: 300px;
   top: 50px;
 }
.mountain{
  margin-top: 300px;
}
